<div dir="rtl">

#   پروژه 2

</div>

In [1]:

import pandas as pd

In [2]:

social_network_data = pd.read_csv('social_network_data.csv')

In [6]:
# Display initial information about the data
social_network_data.head()

   StudentID     Name        Department
0       1211     John  Computer Science
1       2455    Emily           Biology
2       3450    David           Physics
3       4453    Sarah  Computer Science
4       5451  Michael       Mathematics

In [7]:

total_students = social_network_data['StudentID'].nunique()
print('Total number of students:', total_students)

Total number of students: 5

In [8]:

students_per_department = social_network_data.groupby('Department')['StudentID'].nunique()
print('Number of students in each department:')
print(students_per_department)

Number of students in each department:
Department
Biology             1
Computer Science    2
Mathematics         1
Physics             1
Name: StudentID, dtype: int64